<ion-header translucent="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="app/tabs/map"></ion-back-button>
        </ion-buttons>
        <ion-title>Meu Status</ion-title>
        <ion-buttons slot="end">
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="margin-top: 250px;">
        <ion-card>
            <ion-card-header>
                Gráfico
            </ion-card-header>
            <ion-card-content>
                <canvas #barCanvas></canvas>
            </ion-card-content>
        </ion-card>