<ion-header translucent="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Signup</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="signup-logo">
        <img src="assets/img/icon.png" alt="Ionic Logo">
    </div>

    <form #signupForm="ngForm" novalidate>
        <!-- <form #signupForm="ngForm" [formGroup]="signUp" (submit)="onSignup()"></form> -->
        <ion-list lines="none">
            <ion-item>
                <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating" color="primary">Nome de Usuário</ion-label>
                <ion-input [(ngModel)]="signup.username" name="username" type="text" #username="ngModel">
                </ion-input>
                <!-- <ion-input [(ngModel)]="signup.username" name="username" type="text" #username="ngModel" formControlName="username">
                </ion-input> -->
            </ion-item>
            <!-- <small class="error-message" *ngIf="signUp.get('username').errors?.required || signUp.get('username').errors?.minLength || signUp.get('username').errors?.maxLength">
                Preencha campo nome de usuário corretamente
            </small> -->
            <ion-item>
                <ion-label position="stacked" color="primary">Password</ion-label>
                <ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating" color="primary">Nome</ion-label>
                <ion-input [(ngModel)]="signup.nome" name="nome" type="text" #nome="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating" color="primary">Email</ion-label>
                <ion-input [(ngModel)]="signup.email" name="email" type="email" #nome="ngModel">
                </ion-input>
                <!-- <ion-input [(ngModel)]="signup.email" name="email" type="email" #nome="ngModel" formControlName="email">
                </ion-input> -->
            </ion-item>
            <!-- <small class="error-message" *ngIf="signUp.get('email').errors?.required || signUp.get('email').errors?.email">
                Preencha campo email corretamente
            </small> -->
            <ion-item lines="inset">
                <ion-label position="stacked" color="primary">Idade</ion-label>
                <ion-input [(ngModel)]="signup.idade" name="idade" type="text" #idade="ngModel" placeholder='Ex: 18'>
                </ion-input>
                <!-- <ion-input [(ngModel)]="signup.idade" name="idade" type="text" #idade="ngModel" placeholder='Ex: 18' formControlName="dataNasc">
                </ion-input> -->
            </ion-item>
            <!-- <small class="error-message" *ngIf="signUp.get('dataNasc').errors?.required || signUp.get('dataNasc').errors?.min">
                Preencha campo email corretamente
            </small> -->
            <ion-item lines="inset">
                <ion-label position="stacked" color="primary">Data de Nascimento</ion-label>
                <ion-datetime [(ngModel)]="signup.dataNasc" name="dataNasc" type="date" displayFormat="DD/MM/YYYY" #dataNasc="ngModel" required>
                </ion-datetime>
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating" color="primary">Tipo sanguineo</ion-label>
                <ion-input [(ngModel)]="signup.tipoSangue" name="tipoSangue" type="text" #tipoSangue="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating" color="primary">Sexo</ion-label>
                <ion-input [(ngModel)]="signup.sexo" name="sexo" type="text" #sexo="ngModel" required>
                </ion-input>
            </ion-item>

        </ion-list>

        <div class="ion-padding">
            <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Cadastrar</ion-button>
        </div>
    </form>

</ion-content>