<ion-header translucent="true">
    <ion-toolbar color="primary">
        <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->

        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-logo">
        <img src="assets/img/icon.png" alt="Ionic logo">
    </div>

    <form id="loginForm" name="loginForm" #loginForm="ngForm" [formGroup]="login" (submit)="onLogin()">
        <ion-list>
            <ion-item lines="inset">
                <ion-label position="floating" color="primary">Email</ion-label>
                <ion-input name="email" type="text" formControlName="email">
                </ion-input>
                <small class="error-message" *ngIf="(login.get('email').errors?.required || login.get('email').errors?.email) && (loginForm.submitted || login.get('email').touched)">
                    Preencha campo email corretamente
                </small>
            </ion-item>


            <ion-item lines="inset">
                <ion-label position="floating" color="primary">Senha</ion-label>
                <ion-input name="password" type="password" formControlName="password">
                </ion-input>
                <small class="error-message" *ngIf="login.get('password').errors?.required && (loginForm.submitted || login.get('password').touched)">
                    Preencha campo senha corretamente
                </small>
            </ion-item>
        </ion-list>

        <ion-row>
            <ion-col>
                <ion-button type="submit" expand="block" [disabled]="!login.valid">Entrar</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="onSignup()" expand="block">Cadastrar</ion-button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>